.form-container{
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(149, 160, 167, 1);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    /* background-color: #ffffff; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-title{
    color: rgba(42, 65, 79, 1);
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 29px;
    text-align: center;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    margin-left: 5px;
    font-size: 24px;
    margin-bottom: 9px;
}
.input-group input{
    width: 415px;
    height: 55px;
    font-size: 24px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;    
}
.form-submit{
    width: 415px;
    height: 55px;
    background-color: rgba(255, 153, 0, 0.3);
    color: rgba(14, 22, 26, 1);
    font-weight: 400;
    font-size: 21px;
    border-radius: 5px;
    border: none;
    margin-bottom: 9px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: #ffb951;
}
.form-query{
    text-align: center;
    color: #2A414F;
    font-size: 17px;
}
.form-link{
    color: #FF9900;
    text-decoration: none;
}
.line-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.line-container p{
    padding: 0 22px;
    font-size: 17px;
    color: #95A0A7;   
}
.line{
    height: 0;
    width: 145px;
    border-bottom: 2px solid #95A0A7;
}